body{
    background-color: beige;
}

.menu > li{
    display: inline;
    margin-right: 50px;
    border: 0.5px solid #ff7500;
    background-color: #ff7500;
    color: black;
    padding-left:20px;
    padding-right:20px;
}
.menu > li:last-of-type {
    margin-right: 0;
}